<launch>
	<!--include file="$(find realsense2_camera)/launch/rs_rgbd.launch">

  <arg name="fisheye_width"       default="640"/>
  <arg name="fisheye_height"      default="480"/>
  <arg name="enable_fisheye"      default="false"/>

  <arg name="depth_width"         default="640"/>
  <arg name="depth_height"        default="480"/>
  <arg name="enable_depth"        default="true"/>

  <arg name="infra_width"         default="640"/>
  <arg name="infra_height"        default="480"/>
  <arg name="enable_infra1"       default="false"/>
  <arg name="enable_infra2"       default="false"/>


  <arg name="color_width"         default="640"/>
  <arg name="color_height"        default="480"/>
  <arg name="enable_color"        default="true"/>
  


  	</include-->

  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_static_tf"
        args="0 0 1.24 0 0.95 -3.141592 base_link _link 10" />

  <group ns="camera">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">

      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
    </include>

  </group>



</launch>
